CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
debian/.debhelper
debian/ov3endpoint
debian/ov3endpoint-dbg
debian/ov3endpoint-dev
debian/tmp
debian/ov3endpoint-dbg.debhelper.log
debian/ov3endpoint-dbg.substvars
debian/ov3endpoint-dev.debhelper.log
debian/ov3endpoint-dev.substvars
debian/ov3endpoint.debhelper.log
debian/ov3endpoint.substvars
ci-scripts
obj-x86_64-linux-gnu
debian/files
docker/kurento/*.deb
*.deb
*.so
*.class
rest/target